language: generic
sudo: true

branches:
  only:
    - stable
    - master

matrix:
  include:
  - os: linux
    language: generic
    dist: trusty
  - os: linux
    language: generic
    dist: precice

install:
  - make init || true
  - make build || true

install:
  - make clean || true
  - make install || true

script:
  - make clean || true
  - make test

after_success:
  - make uninstall || true
  - make clean || true

